#title {
  margin-top:    90px;
  margin-bottom: 90px;
}

.btn {
  cursor: pointer;
}

label {
  //font-size: 80%;
  //font-weight: bold;
}

.section {
  margin-bottom: 60px;
}

h3 {
  margin-bottom: 15px;
}
